body{
  background-color:SlateGrey;
}
h2{
    text-align:center;
    color:white;
}
p{
  font-family:Sans-serif;
  color:SlateGrey;
}
* {
  box-sizing: border-box;
}
.one:hover{
  background-color:OldLace;
}
.three:hover{
  background-color:OldLace;
}

/* Clearfix (clear floats) */

.two:hover{
  background-color:OldLace;
}
/* Clearfix (clear floats) */

.four:hover{
  background-color:OldLace;
}
.one,.two,.three,.four{
  float:left;
}
.one{
  margin-left: 200px;
}
.two{
  margin-left: 200px;
}
.three{
  margin-left: 200px;
}
.four{
  margin-left: 200px;
}
#this is changed by bhagya lakshmi ogirala
